{extend name="layout/edit"}
{block name="title"}
<title>修改公告</title>
{/block}
{block name="content"}
<div class="x-body">
    <form class="layui-form" method="post" id="form-user-edit" url="{:url('save')}" enctype="multipart/form-data">
        <input type="hidden" value="{$info.id}" name="id">
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="x-red">*</span>公告名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="name" value="{$info.name}" name="name" required="" lay-verify="name"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="body" class="layui-form-label">
                <span class="x-red">*</span>公告内容
            </label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" id="body" name="body" class="layui-textarea">{$info.body}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="x-red">*</span>公告状态</label>
            <div class="layui-input-block">
                <input type="radio" value="{$info.status}" name="status" lay-skin="primary" title="上架" checked="">
                <input type="radio" value="{$info.status}" name="status" lay-skin="primary" title="下架">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="btn-edit" class="layui-form-label">
            </label>
            <button id="btn-edit" class="layui-btn" lay-filter="edit" lay-submit="">
                修改公告
            </button>
        </div>
    </form>
</div>
{/block}