{extend name="layout/create"}
{block name="title"}
    <title>角色添加</title>
{/block}
{block name="content"}
<div class="x-body">
    <form class="layui-form" method="post" id="form-user-add" url="{:url('save')}" enctype="multipart/form-data">
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="x-red">*</span>角色名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="name" required="" lay-verify="name"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="x-red">*</span>拥有权限</label>
            <div class="layui-input-block">
                {volist id="vo" name="nodes"}
                    <input type="checkbox" value="{$vo.id}" name="nid[]" lay-skin="primary" title="{$vo.name}"><div class="layui-unselect layui-form-checkbox layui-form-checked" lay-skin="primary"><span>{$vo.name}</span><i class="layui-icon"></i></div>
                {/volist}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="x-red">*</span>角色状态</label>
            <div class="layui-input-block">
                <input type="checkbox" value="1" name="status" lay-skin="primary" title="有效角色" checked=""><div class="layui-unselect layui-form-checkbox layui-form-checked" lay-skin="primary"><span>有效</span><i class="layui-icon"></i></div>
                <input type="checkbox" value="0" name="status" lay-skin="primary" title="无效角色"><div class="layui-unselect layui-form-checkbox" lay-skin="primary"><span>无效</span><i class="layui-icon"></i></div>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="btn-add" class="layui-form-label">
            </label>
            <button id="btn-add" class="layui-btn"  lay-filter="add" lay-submit="">
                增加角色
            </button>
        </div>
    </form>
</div>
{/block}

